{% extends 'admin/layout.html' %}
{% load static %}
{% block content%}
<div class="bg-white">
    <div class="container">
        <div class="row justify-content-center align-items-center d-flex vh-100">
            <div class="col-md-4 mx-auto">
                <div class="osahan-login py-4">
                    <div class="text-center mb-4">
                        <a href="index.html"><img src="{% static 'media/new_logo.png' %}" alt="" width="75%"></a>
                        <h5 class="font-weight-bold mt-3">We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.</h5>
                        <p class="text-muted">If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}