<div id="header">

    <div class="navbar">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="brand" href="dashboard.html">Fikido.<span class="slogan">face</span></a>
            <div class="nav-no-collapse">  
                <ul class="nav pull-right usernav">
                    <li><a href="/accounts/logout"><span class="icon16 icomoon-icon-exit"></span><span class="txt"> Logout</span></a></li>
                </ul>
            </div><!-- /.nav-collapse -->
          </div>
        </div><!-- /navbar-inner -->
      </div><!-- /navbar --> 

</div><!-- End #header -->